[Desktop Entry]
Name=System Tools
Comment=Launch system management apps
Exec=bash -c "$HOME/.config/fuzzel/scripts/system-tools"
Terminal=false
Type=Application
Icon=preferences-desktop
Categories=System;
